<ol class="stepper">
  <li class="step-item active">
    <div class="step-content">
      <p class="step-text">1</p>
      <p class="step-title">General Info</p>
    </div>
  </li>
  <li class="step-item">
    <div class="step-content">
      <p class="step-text">2</p>
      <p class="step-title">Package Details</p>
    </div>
  </li>
  <li class="step-item">
    <div class="step-content">
      <p class="step-text">3</p>
      <p class="step-title">Payments</p>
    </div>
  </li>
  <li class="step-item">
    <div class="step-content">
      <p class="step-text">4</p>
      <p class="step-title">Summary</p>
    </div>
  </li>
</ol>
